{% extends 'base.html.twig' %}

{% block title %}Player - {{ mode|title }}{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button formnovalidate class="px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700">Save</button>
    {{ form_end(form) }}
</div>
{% endblock %}
